
body {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-size: 14px;
}
H1 {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 700;
    border-bottom-color: darkorange;
    border-bottom-style: solid;
    border-width: 2px;
    padding-top: 12px;
    padding-bottom: 12px;
}
H2 {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
    border-top-color: darkorange;
    border-top-style: dotted;
    border-width: 2px;
    padding-top: 12px;
    padding-bottom: 6px;
}
.navbar {
    background-color: moccasin; 
    border-top-style: dashed;
    border-top-color: darkorange;
    border-top-width: 1px;
    padding-top: 12px;
    border-bottom-style: dashed;
    border-bottom-color: darkorange;
    border-bottom-width: 1px;
    padding-bottom: 12px
}